*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.content {
    padding: 60px 0;
}
html, body,
.inner,
.content,
.content-inner,
.content-inner > div {
    height: 100%;
}
#bottom {
    position: absolute;
}
.content-inner {
    padding-left: 15px;
    padding-right: 15px;
}
.handle {
    display: none;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    height: 30px;
    background: #ccc;
    border-radius: 20px;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
    border: 2px solid #666;
}
.handle .text {
    height: 100%;
    position: relative;
    left: -42px;
    top: -3px;
    font-size: 24px;
}
.current-temp-bar {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.current-temp-text {
    font-size: 24px;
}
.inner {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    margin: 0 auto;
}
.target .inner {
    background-image: -webkit-linear-gradient(top, #ff8800 0%, #0088ff 100%);
}

/* data */
.line, .target {
    stroke: steelblue;
    stroke-width: 2;
}
.line {
    fill: none;
    stroke-linejoin: round;
}
.uncertain {
    opacity: 0.5;
    shape-rendering: crispEdges;
}
.certain {
    shape-rendering: crispEdges;
}
.target, .val {
    fill: white;
}
.val {
    stroke: orange;
    stroke-width: 2;
}
.real {
    stroke: orange;
}

#main {
    padding: 0;
}
.text {
    text-align: center;
    fill: #fff;
}
.tar {
    font-size: 100px;
    padding-top: 20px;
}
.current {
    font-size: 20px;
}
.schedule {
    text-align: center;
    font-size: 20px;
}
